In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [9]:
dem_data_2011_load = "2011/alldata.csv"
dem_data_2011 = pd.read_csv(dem_data_2011_load)
df_2011 = pd.DataFrame(dem_data_2011)
df_2011 = df_2011.set_index("Age")
df_2011 = df_2011.loc['All Ages']
df_2011 = df_2011.set_index("County")
df_2011 = df_2011.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)
df_2011

,Total,Anglo Total,Black Total,Other Total,Hispanic Total
County,,,,,
STATE OF TEXAS,25674681,11442303,2946793,1472223,9813362
ANDERSON COUNTY,58727,35755,12242,1196,9534
ANDREWS COUNTY,15327,7244,205,314,7564
ANGELINA COUNTY,88214,55241,13078,1986,17909
ARANSAS COUNTY,23334,16353,252,877,5852
...,...,...,...,...,...
WOOD COUNTY,42141,35644,1964,847,3686
YOAKUM COUNTY,7947,3053,53,111,4730
YOUNG COUNTY,18633,14915,217,327,3174
ZAPATA COUNTY,14245,842,10,67,13326
ZAVALA COUNTY,11794,652,32,30,11080

In [ ]:
dem_data_2012_load = "2012/alldata.csv"
dem_data_2012 = pd.read_csv(dem_data_2012_load)
df_2012 = pd.DataFrame(dem_data_2012)
df_2012 = df_2012.set_index("Age")
df_2012 = df_2012.loc['All Ages']
df_2012 = df_2012.set_index("County")
df_2012 = df_2012.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)
df_2012

In [ ]:
dem_data_2013_load = "2013/alldata.csv"
dem_data_2013 = pd.read_csv(dem_data_2013_load)
df_2013 = pd.DataFrame(dem_data_2013)
df_2013 = df_2013.set_index("Age")
df_2013 = df_2013.loc['All Ages']
df_2013 = df_2013.set_index("County")
df_2013 = df_2013.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)

In [ ]:
dem_data_2014_load = "2014/alldata.csv"
dem_data_2014 = pd.read_csv(dem_data_2014_load)
df_2014 = pd.DataFrame(dem_data_2014)
df_2014 = df_2014.set_index("Age")
df_2014 = df_2014.loc['All Ages']
df_2014 = df_2014.set_index("County")
df_2014 = df_2014.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)

In [ ]:
dem_data_2015_load = "2015/alldata.csv"
dem_data_2015 = pd.read_csv(dem_data_2015_load)
df_2015 = pd.DataFrame(dem_data_2015)
df_2015 = df_2015.set_index("Age")
df_2015 = df_2015.loc['All Ages']
df_2015 = df_2015.set_index("County")
df_2015 = df_2015.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)

In [ ]:
dem_data_2016_load = "2016/alldata.csv"
dem_data_2016 = pd.read_csv(dem_data_2016_load)
df_2016 = pd.DataFrame(dem_data_2016)
df_2016 = df_2016.set_index("Age")
df_2016 = df_2016.loc['All Ages']
df_2016 = df_2016.set_index("County")
df_2016 = df_2016.drop(["FIPS",
                        "Total Male",
                        "Total Female",
                        "Anglo Male",
                        "Anglo Female",
                        "Black Male",
                        "Black Female",
                        "Other Male",
                        "Other Female",
                        "Hispanic Male",
                        "Hispanic Female"],
                      axis = 1)

In [11]:
dem_data_2017_load = "2017/alldata.csv"
dem_data_2017 = pd.read_csv(dem_data_2017_load)
df_2017 = pd.DataFrame(dem_data_2017)
df_2017 = df_2017.set_index("Age")
df_2017 = df_2017.loc['All Ages']
df_2017 = df_2017.set_index("County")
df_2017  = df_2017.drop(["FIPS",
                        "Total_Male",
                        "Total_Female",
                        "NH_White_Male",
                        "NH_White_Female",
                        "NH_Black_Male",
                        "NH_Black_Female",
                        "NH_Other_Male",
                        "NH_Other_Female",
                        "Hispanic_Male",
                        "Hispanic_Female",
                        "NH_Asian_Male",
                        "NH_Asian_Female"],
                      axis = 1)
df_2017 = df_2017.rename(columns={"NH_White_Total": "Anglo Total", "NH_Black_Total": "Black Total", "NH_Other_Total": "Other Total", "Hispanic_Total": "Hispanic Total", "NH_Asian_Total": "Asian Total"})
df_2017

,Total,Anglo Total,Black Total,Asian Total,Other Total,Hispanic Total
County,,,,,,
STATE OF TEXAS,28304596,11953617,3339851,1324475,604354,11082299
ANDERSON COUNTY,59110,34710,12476,304,1194,10426
ANDREWS COUNTY,17631,6649,200,82,215,10485
ANGELINA COUNTY,90342,54589,13527,893,1410,19923
ARANSAS COUNTY,25391,16969,271,457,455,7239
...,...,...,...,...,...,...
WOOD COUNTY,44455,36647,2229,182,897,4500
YOAKUM COUNTY,8589,2707,61,28,97,5696
YOUNG COUNTY,18885,14575,230,59,336,3685
ZAPATA COUNTY,14217,767,12,21,39,13378
ZAVALA COUNTY,11921,645,30,3,29,11214

In [12]:
dem_data_2018_load = "2018/alldata.csv"
dem_data_2018 = pd.read_csv(dem_data_2018_load)
df_2018 = pd.DataFrame(dem_data_2018)
df_2018 = df_2018.set_index("Age")
df_2018 = df_2018.loc['All Ages']
df_2018 = df_2018.set_index("County")
df_2018  = df_2018.drop(["FIPS",
                        "Total_Male",
                        "Total_Female",
                        "NH_White_Male",
                        "NH_White_Female",
                        "NH_Black_Male",
                        "NH_Black_Female",
                        "NH_Other_Male",
                        "NH_Other_Female",
                        "Hispanic_Male",
                        "Hispanic_Female",
                        "NH_Asian_Male",
                        "NH_Asian_Female"],
                      axis = 1)
df_2018 = df_2018.rename(columns={"NH_White_Total": "Anglo Total", "NH_Black_Total": "Black Total", "NH_Other_Total": "Other Total", "Hispanic_Total": "Hispanic Total", "NH_Asian_Total": "Asian Total"})
df_2018

,Total,Anglo Total,Black Total,Asian Total,Other Total,Hispanic Total
County,,,,,,
STATE OF TEXAS,28702243,12008303,3394972,1381899,629148,11287921
ANDERSON COUNTY,58979,34383,12472,312,1262,10550
ANDREWS COUNTY,18678,6794,206,83,224,11371
ANGELINA COUNTY,91687,55069,13751,924,1467,20476
ARANSAS COUNTY,23724,15716,244,423,445,6896
...,...,...,...,...,...,...
WOOD COUNTY,44985,36939,2286,190,922,4648
YOAKUM COUNTY,8928,2731,68,23,103,6003
YOUNG COUNTY,18501,14180,221,66,343,3691
ZAPATA COUNTY,14015,762,11,23,27,13192
ZAVALA COUNTY,12199,659,41,2,31,11466