In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
#katie's part
dem_data_0010_load = "2000-2010/demodata.csv"
dem_data_0010 = pd.read_csv(dem_data_0010_load)

In [3]:
dem_data_2011_load = "2011/alldata.csv"
dem_data_2011 = pd.read_csv(dem_data_2011_load)

dem_data_2012_load = "2012/alldata.csv"
dem_data_2012 = pd.read_csv(dem_data_2012_load)

dem_data_2013_load = "2013/alldata.csv"
dem_data_2013 = pd.read_csv(dem_data_2013_load)

dem_data_2014_load = "2014/alldata.csv"
dem_data_2014 = pd.read_csv(dem_data_2014_load)

dem_data_2015_load = "2015/alldata.csv"
dem_data_2015 = pd.read_csv(dem_data_2015_load)

dem_data_2016_load = "2016/alldata.csv"
dem_data_2016 = pd.read_csv(dem_data_2016_load)

df_2011 = pd.DataFrame(dem_data_2011, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

df_2012 = pd.DataFrame(dem_data_2012, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

df_2013 = pd.DataFrame(dem_data_2013, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

df_2014 = pd.DataFrame(dem_data_2014, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

df_2015 = pd.DataFrame(dem_data_2015, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

df_2016 = pd.DataFrame(dem_data_2016, index = [0], columns = ['Total', 'Anglo Total', 'Black Total', 'Other Total', 'Hispanic Total'])

#indexed by age 0-85, need to trim/pivot/ understand working with multi-index tables

               County  FIPS         Age     Total  Total_Male  Total_Female  \
0      STATE OF TEXAS     0    All Ages  28702243    14254981      14447262
1      STATE OF TEXAS     0    < 1 Year    389277      198709        190568
2      STATE OF TEXAS     0     1 Years    395402      201725        193677
3      STATE OF TEXAS     0     2 Years    407861      208076        199785
4      STATE OF TEXAS     0     3 Years    417497      213195        204302
...               ...   ...         ...       ...         ...           ...
24730   ZAVALA COUNTY   507    91 Years        16           7             9
24731   ZAVALA COUNTY   507    92 Years        12           7             5
24732   ZAVALA COUNTY   507    93 Years         9           5             4
24733   ZAVALA COUNTY   507    94 Years         9           3             6
24734   ZAVALA COUNTY   507  95 Years +        26           9            17

       NH_White_Total  NH_White_Male  NH_White_Female  NH_Black_Total  ...  \
0            12008303        5953354          6054949         3394972  ...
1              114969          58905            56064           46083  ...
2              117408          60141            57267           46604  ...
3              122987          62939            60048           47786  ...
4              127819          65480            62339           48419  ...
...               ...            ...              ...             ...  ...
24730               6              3                3               0  ...
24731               2              1                1               0  ...
24732               3              2                1               0  ...
24733               3              1                2               0  ...
24734               8              3                5               1  ...

       NH_Black_Female  NH_Asian_Total  NH_Asian_Male  NH_Asian_Female  \
0              1752264         1381899         677090           704809
1                22639           16580           8469             8111
2                22959           16511           8468             8043
3                23539           17479           8955             8524
4                23920           17931           9220             8711
...                ...             ...            ...              ...
24730                0               0              0                0
24731                0               0              0                0
24732                0               0              0                0
24733                0               0              0                0
24734                0               0              0                0

       NH_Other_Total  NH_Other_Male  NH_Other_Female  Hispanic_Total  \
0              629148         312300           316848        11287921
1               17102           8778             8324          194543
2               17255           8835             8420          197624
3               17292           8840             8452          202317
4               17230           8795             8435          206098
...               ...            ...              ...             ...
24730               0              0                0              10
24731               0              0                0              10
24732               0              0                0               6
24733               0              0                0               6
24734               1              0                1              16

       Hispanic_Male  Hispanic_Female
0            5669529          5618392
1              99113            95430
2             100636            96988
3             103095            99222
4             105201           100897
...              ...              ...
24730              4                6
24731              6                4
24732              3                3
24733              2                4
24734              5               11

[24735 rows x 21 columns]

In [ ]:
dem_data_2017_load = "2017/alldata.csv"
dem_data_2017 = pd.read_csv(dem_data_2017_load)

dem_data_2018_load = "2018/alldata.csv"
dem_data_2018 = pd.read_csv(dem_data_2018_load)

In [4]:
df_2017 = pd.DataFrame(dem_data_2017, index = [0], columns = ['Total', 'NH_White_Total', 'NH_Black_Total', 'NH_Asian_Total NH_Other_Total', 'NH_Hispanic_Total'])
#rename headers
df_2018 = pd.DataFrame(dem_data_2018, index = [0], columns = ['Total', 'NH_White_Total', 'NH_Black_Total', 'NH_Asian_Total NH_Other_Total', 'NH_Hispanic_Total'])
#rename headers

In [ ]:
df_totals = pd.concat([df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018], axis=0)